<!DOCTYPE html>
<html>
   <head>
     <title>Notes</title>
     {{ style|safe }}
   </head>
   <body>
      <h1> The Landing Page </h1>
      <ul>
        <li><a href="/">root</a></li>

        <li><a href="/daily">daily</a></li>
        <li><a href="/note/89b02969-1b14-4390-aecb-fbd5bcad90d1.note">weekly</a></li>

        <li><a href="/note/5fdc177d-fd1f-4f1a-8311-90a51c9cd5cc.note">ideas</a></li>
        <li><a href="/note/e44ff1c9-2cea-47c5-99bc-0d237e81e909.note">projects</a></li>
        <li><a href="/note/0acb9029-1e9a-45d1-9b49-512b40799f36.note">programming</a></li>

        <li><a href="/all">all</a></li>
        <li><a href="/recents">recents</a></li>
        <li><a href="/rm">rm</a></li>
      </ul>
      <form>
        <input type="text" name="title">
        <input type="submit" value="New Note"/>
      </form>
   </body>
</html>
